<!DOCTYPE html>
<html xmlns:xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::links">
    <title>Szczegóły produktu</title>
</head>


<body>
<div class="page">
    <!-- Main Navbar-->
    <header th:replace="fragments::header">
    </header>

    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav th:replace="fragments::sidebar">
        </nav>

        <div class="content-inner">
            <!-- Page Header-->
            <header th:replace="fragments::secondary-header">
            </header>
            <!-- Breadcrumb-->
            <div class="breadcrumb-holder container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ul>
            </div>
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4">O nas</h3>
                                </div>
                                <div class="card-body row">
                                    <div class="autor col-md-12" th:align="center">
                                        <h5>Projekt:</h5>
                                        <p><b>Serwis do obsługi kupna-sprzedaży zabawek.</b>
                                        <p><br><u>Funkcje: </u><br>
                                            <i>Produkty:</i><br>
                                            1: obsługa dodawania, usuwania oraz modyfikacji przedmiotów przez
                                            zalogowanego użytkownika. <br>
                                            2: wgląd do szczegółów produktu<br>
                                            3:wyszukiwanie produktu po nazwie,
                                            kategori i subkategorii, wieku oraz płci<br>
                                            <br><i>Obsługa użytkownika</i><br>
                                            1: rejestracja, logowanie, uzupełnienie danych (kontaktowych) <br>
                                            <br><i>Obsługa zamówienia</i><br>

                                        </p>
                                        <h6>Wykorzystane technologie:</h6>
                                        <p>Spring-boot, MySql, Bootstrapious template, thymeleaf, html+css, lombok,
                                            Maven</p>
                                        <h6>System kontroli wersji:</h6>
                                        <p> Git(Bitbucket)</p><br><br>
                                        <h6><u>Autorzy:</u></h6>
                                        <p>Marcin Błędowski <br>
                                            Anna Mrowicka<br>
                                            Dawid Pilitowski<br>
                                            Radosław Waszkiewicz</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <div th:replace="fragments::footer"></div>
        </div>
    </div>
</div>


</body>
</html>

