<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CategoryList</title>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>
<body>
<div class="container marketing">

    <h3>Category List</h3>
    <div class="row col-md-offset-1 col-md-11">
        <div class="row table-header">
            <div class="col-md-6">Id</div>
            <div class="col-md-6">Nazwa kategorii</div>


        </div>
        <div class="row table-row" th:each="category : ${categoryList}">
            <div class="col-md-6"><p th:text="${category.getId()}"></p></div>
            <div class="col-md-6"><p th:text="${category.getCategoryName()}"></p></div>
            <div class="col-md-2 row">
                <div class="col-md-6"><!--usuwanie-->
                    <a th:href="@{'/remove/' + ${category.getId()}}">Usuń</a>
                </div>
                <div class="col-md-6"><!--szczegoly-->
                    <a th:href="@{'/details/' + ${category.getId()}}">Edytuj</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>