<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="links">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:if="${title} == null">[UNKNOWN] buymemommy.com</title>
    <title th:if="${title} != null" th:text="${title}"></title>
    <meta name="description" content="Najlepsza pomoc zabieganej mamy! Przyjazny sklep z największym wyborem zabawek dla Twojego dziecka.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fontastic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="/css/style.blue.css" id="theme-stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
<div class="page">
    <header th:fragment="header" class="header fixed-top">
        <nav class="navbar">
            <!-- Search Box-->
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <form id="searchForm" th:action="@{/item/itemListSearch}" role="search">
                    <input type="search" name="phrase" placeholder="Szukaj..." class="form-control">
                </form>
            </div>
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand --><a th:href="@{/}" class="navbar-brand d-none d-sm-inline-block">
                        <div class="brand-text d-none d-lg-inline-block">
                            <span><i><strong>buymemommy</strong>.com</i></span></div>
                        <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                    </a>
                        <!-- Toggle Button--><a id="toggle-btn" href="#"
                                                class="menu-btn active"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Search-->
                        <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i
                                class="icon-search"></i></a></li>
                        <!-- Notifications-->
                        <li class="nav-item dropdown"><a id="notifications" rel="nofollow" data-target="#" href="#"
                                                         data-toggle="dropdown" aria-haspopup="true"
                                                         aria-expanded="false" class="nav-link"><i
                                class="fa fa-bell-o"></i><span class="badge bg-red badge-corner">12</span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-envelope bg-green"></i>You
                                            have 6 new messages
                                        </div>
                                        <div class="notification-time">
                                            <small>4 minutes ago</small>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have
                                            2 followers
                                        </div>
                                        <div class="notification-time">
                                            <small>4 minutes ago</small>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server
                                            Rebooted
                                        </div>
                                        <div class="notification-time">
                                            <small>4 minutes ago</small>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have
                                            2 followers
                                        </div>
                                        <div class="notification-time">
                                            <small>10 minutes ago</small>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">
                                    <strong>view all notifications </strong></a></li>
                            </ul>
                        </li>
                        <!-- Messages                        -->
                        <li class="nav-item dropdown"><a id="messages" rel="nofollow" data-target="#" href="#"
                                                         data-toggle="dropdown" aria-haspopup="true"
                                                         aria-expanded="false" class="nav-link"><i
                                class="fa fa-envelope-o"></i><span class="badge bg-orange badge-corner">10</span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"><img src="/img/avatar-1.jpg" alt="..."
                                                                  class="img-fluid rounded-circle"></div>
                                    <div class="msg-body">
                                        <h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"><img src="/img/avatar-2.jpg" alt="..."
                                                                  class="img-fluid rounded-circle"></div>
                                    <div class="msg-body">
                                        <h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"><img src="/img/avatar-3.jpg" alt="..."
                                                                  class="img-fluid rounded-circle"></div>
                                    <div class="msg-body">
                                        <h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
                                    </div>
                                </a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">
                                    <strong>Read all messages </strong></a></li>
                            </ul>
                        </li>
                        <!-- Logout    -->
                        <li class="nav-item"><a href="login.html" class="nav-link logout"> <span
                                class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="page-content d-flex align-items-stretch">

        <!-- Side Navbar -->
        <nav th:fragment="sidebar" class="side-navbar">
            <!-- Sidebar Header-->
            <div th:if="${loggedUserDto} != null" class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img th:src="${loggedUserDto.getAvatarUrl()}" alt="avatar"
                                         class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h4" th:text="'Witaj, ' + ${loggedUserDto.getUsername()}"></h1>
                    <p>Jak Ci mija dzień?</p>
                </div>
            </div>
            <div th:if="${loggedUserDto} == null" class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="/img/guest.jpg" alt="guest avatar" class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h4">Witaj, gościu</h1>
                    <p><a href="/login">Logowanie</a> / <a href="/register">Rejestracja</a></p>
                </div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <span class="heading">Kategorie</span>
            <ul class="list-unstyled">
                <li th:each="mainCategory : ${categories}"><a th:href="'#'+${mainCategory.key.getNameCategory()}" aria-expanded="false" data-toggle="collapse"><!--<i th:class="${category.getCategoryIcon}"></i>--><span class="categories" th:text="${mainCategory.key.getNameCategory()}"></span></a> <!-- TODO : OBSLUGE IKON DODAC-->
                    <ul th:id="${mainCategory.key.getNameCategory()}" class="collapse list-unstyled">
                        <li th:each="subcategory: ${mainCategory.value}"><a th:href="@{'/itemList/' + ${mainCategory.key.getNameCategory()} + '/' + ${subcategory.getName()}}" th:text="${subcategory.getName()}"></a></li> <!-- TODO : NIESTETY NIE MA W KATEGORII PRZECHOWYWANYCH SUBKATEGORII -->
                    </ul>
                </li>
            </ul>
            <span class="heading">Inne</span>
            <ul class="list-unstyled">
                <li><a href="#"> <i class="icon-flask"></i>Promocje </a></li>
            </ul>
        </nav>
        <div class="content-inner">
            <!-- Page Header-->
            <header th:fragment="secondary-header" class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Tytuł <!-- TODO DELETE SPAN--><span th:text="${loggedInUserDTO} + ' ::: ' + ${loggedInPrincipal}"></span></h2>
                </div>
            </header>

            <!-- Page Footer-->
            <footer th:fragment="footer">
                <footer class="page-footer font-small purple accent-2 pt-4">
                    <div class="container-fluid text-center text-md-left">
                        <div class="row">
                            <!--<div class="col-md-3 mb-md-0 mb-3">-->
                            <div class="col-md-1 mb-md-4 mb-3 flex-center">
                                <a th:href="@{/about}">O NAS</a>
                            </div>
                            <div class="col-md-1 mb-md-4 mb-3 flex-center">
                                <a th:href="@{/help}">POMOC</a>
                            </div>
                            <div class="col-md-1 mb-md-4 mb-3 flex-center">
                                <a th:href="@{/rules}">REGULAMIN</a>
                            </div>
                            <hr class="clearfix w-100 d-md-none pb-3">
                            <div class="col-md-6 mt-md-0 mt-3 flex-center">
                                <a class="fb-ic">
                                    <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <a class="tw-ic">
                                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <a class="ins-ic">
                                    <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <a class="pin-ic">
                                    <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                                </a>
                            </div>
                            <hr class="clearfix w-100 d-md-none pb-3">
                            <div class="col-md-1 mb-md-4 mb-3 flex-center">
                                <a th:href="@{/contact}">KONTAKT</a>
                            </div>
                            <div class="col-md-1 mb-md-4 mb-3 flex-center">
                                <a th:href="@{/faq}">FAQ</a>
                            </div>
                            <div class="col-md-1 mb-md-4 mb-3 flex-center">
                                <a th:href="@{/others}">INNE</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright text-center py-3">© 2018 Copyright:
                        <a href="https://www.buymemommy.com"> buymemommy.com</a>
                    </div>
                </footer>

                <script src="/vendor/jquery/jquery.min.js"></script>
                <script src="/vendor/popper.js/umd/popper.min.js"></script>
                <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
                <script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
                <script src="/vendor/chart.js/Chart.min.js"></script>
                <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
                <script src="/js/charts-home.js"></script>
                <script src="/js/front.js"></script>
            </footer>
<!--            <footer class="main-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Your company &copy; 2017-2019</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a>
                            </p>
                            &lt;!&ndash; Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)&ndash;&gt;
                        </div>
                    </div>
                </div>
            </footer>-->
        </div>
    </div>
</div>
<!-- JavaScript files-->

</body>
</html>