<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <title>Lista produktów</title>
</head>
<body>

<div class="container marketing">

    <h3>Lista Produktów</h3>
    <div class="row col-md-offset-1 col-md-8">
        <div class="row table-header">
            <div class="col-md-1">Id</div>
            <div class="col-md-2">itemName</div>
            <div class="col-md-3">description</div>
            <div class="col-md-2">price</div>
            <div class="col-md-2">gender</div>
            <div class="col-md-2">ageFrom</div>
            <div class="col-md-2">ageTo</div>
            <div class="col-md-2">action</div>
        </div>
        <div class="row table-row" th:each="item : ${itemList}">
            <div class="col-md-1"><p th:text="${item.getId()}"></p></div>
            <div class="col-md-2"><p th:text="${item.getItemName()}"></p></div>
            <div class="col-md-2"><p th:text="${item.getDescription()}"></p></div>
            <div class="col-md-3"><p th:text="${item.getPrice()}"></p></div>
            <div class="col-md-2"><p th:text="${item.getGender()}"></p></div>
            <div class="col-md-2"><p th:text="${item.getAgeFrom()}"></p></div>
            <div class="col-md-2"><p th:text="${item.getAgeTo()}"></p></div>
            <div class="col-md-2 row">
                <div class="col-md-6"><!--usuwanie-->
                    <a th:href="@{'/item/remove/' + ${item.getId()}}">Remove</a>
                </div>
                <div class="col-md-6"><!--szczegoly-->
                    <a th:href="@{'/details/' + ${item.getId()}}">Details</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>