<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" th:href="@{/css/oldTheme.css}">
<head>
</head>
<body>

<div class="container marketing">
    <div class="row">
        <form th:action="@{/item/addItem}" th:object="${item}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3">
                    <label for="itemName">Nazwa produktu:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" id="itemName" th:field="*{itemName}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="descritpion">Opis produktu:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" id="descritpion" th:field="*{description}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="price">Cena:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" id="price" th:field="*{price}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="itemLimit">Ilość dostepnych produktów:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" id="itemLimit" th:field="*{itemLimit}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="photo">Zdjęcie:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" id="photo" type="file" name="photo">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="both">Dla chłopca/Dla dziewczynki:</label>
                </div>
                <div class="col-md-5">
                    <input type="radio" name="gender" id="girl" th:value="GIRL" th:field="*{gender}">Dla dziewczynki<br>
                    <input type="radio" name="gender" id="boy" th:value="BOY" th:field="*{gender}">Dla chłopca<br>
                    <input type="radio" name="gender" id="both" th:value="BOTH" th:checked="BOTH" th:field="*{gender}">Dla
                    wszystkich<br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="cell-justified"  for="price">Wiek od:</label>
                </div>
                <div class="col-md-1">
                    <input type="number" name="ageFrom" th:field="*{ageFrom}" min="1" max="15">

                </div>
                <div class="col-md-1 ">
                    <label class="cell-justified" for="price">Wiek do:</label>
                </div>
                <div class="col-md-1 ">
                    <input type="number" name="ageTo" th:field="*{ageTo}" min="1" max="15">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <input class="form-control" type="submit" th:value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>