<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{/css/oldTheme.css}">
    <title>Produkt</title>
</head>
<body>
<div class="container marketing">
    <div class="row" th:object="${item}">
        <div class="row" th:align="center">
            <div class="col-md-3">
                <label for="image"></label>
            </div>
            <div class="col-md-9">
                <img th:width="500" th:height="400" id="image" th:src="${'data:image/png;base64,'+imageBase64}" alt=""/>
                <!--<img id="image" th:src="*{'data:image/pnh;base64,'+image}" />-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="itemName">Nazwa produktu:</label>
            </div>
            <div class="col-md-9">
                <p id="itemName" th:text="*{getItemName()}">
                <div class="col-md-3">
                    <a th:href="@{'/item//' + ${item.getId()}}" class="btn-group btn-danger active" role="button" aria-pressed="true">Kupuję!</a>
                    <a th:href="@{'/item//' + ${item.getId()}}" class="btn-group btn-secondary active" role="button" aria-pressed="true">Dodaj do listy życzeń</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="descritpion">Opis produktu:</label>
            </div>
            <div class="col-md-9">
                <p id="descritpion" th:text="*{getDescription()}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="price">Cena:</label>
            </div>
            <div class="col-md-9">
                <p id="price" th:text="*{getPrice()+'zł'}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <label for="itemLimit">Ilość dosteponych produktów:</label>
            </div>
            <div class="col-md-1 ">
                <p type="number" name="itemLimit" th:text="*{getItemLimit()}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Kategoria produktu:</label>
            </div>
            <div class="col-md-5">
                <p th:text="*{getCategoryList().get(0).mainCategory.getNameCategory() + ' ' + getCategoryList().get(0).subcategory.getName()}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="cell-justified" for="price">Wiek od:</label>
            </div>
            <div class="col-md-1">
                <p type="number" name="ageFrom" th:text="*{ageFrom}" min="1" max="15">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <label class="cell-justified" for="price">Wiek do:</label>
            </div>
            <div class="col-md-1 ">
                <p type="number" name="ageTo" th:text="*{ageTo}" min="1" max="15">
            </div>
        </div>
        <footer th:replace="fragments::footer"></footer>
    </div>
</div>

</body>
</html>

