<!DOCTYPE html>
<html xmlns:xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::links">
    <title>Szczegóły produktu</title>
</head>


<body>
<div class="page">
    <!-- Main Navbar-->
    <header th:replace="fragments::header">
    </header>

    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav th:replace="fragments::sidebar">
        </nav>

        <div class="content-inner">
            <!-- Page Header-->
            <header th:replace="fragments::secondary-header">
            </header>
            <!-- Breadcrumb-->
            <div class="breadcrumb-holder container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ul>
            </div>
            <div class="container">
                <div class="container" th:object="${item}">
                    <div class="row">
                        <div class="col-md-6 align-left-object">
                            <div class="col-md-3">
                                <label for="image"></label>
                            </div>
                            <div class="col-md-9">
                                <img class="image-width" id="image" th:src="${'data:image/png;base64,'+imageBase64}" alt="">
                                <!--&lt;!&ndash;<img id="image" th:src="*{'data:image/pnh;base64,'+image}" />&ndash;&gt;-->
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-md-12">
                                <label for="itemName">Nazwa produktu:</label>
                            </div>
                            <div class="row">
                                <p id="itemName" th:text="*{getItemName()}">
                                    <!--<div class="col-md-3">-->
                                    <!--&lt;!&ndash;<a th:href="@{'/item//' + ${item.getId()}}" class="btn-group btn-danger active" role="button" aria-pressed="true">Kupuję!</a>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a th:href="@{'/item//' + ${item.getId()}}" class="btn-group btn-secondary active" role="button" aria-pressed="true">Dodaj do listy życzeń</a>&ndash;&gt;-->
                                    <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                    <!--<label for="descritpion">Opis produktu:</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-9">-->
                    <!--<p id="descritpion" th:text="*{getDescription()}">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                    <!--<label for="price">Cena:</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-9">-->
                    <!--<p id="price" th:text="*{getPrice()+'zł'}">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-3 ">-->
                    <!--<label for="itemLimit">Ilość dosteponych produktów:</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-1 ">-->
                    <!--<p type="number" name="itemLimit" th:text="*{getItemLimit()}">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                    <!--<label>Kategoria produktu:</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-5">-->
                    <!--<p th:text="*{getCategoryList().get(0).mainCategory.getNameCategory() + ' ' + getCategoryList().get(0).subcategory.getName()}"></p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                    <!--<label class="cell-justified" for="price">Wiek od:</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-1">-->
                    <!--<p type="number" name="ageFrom" th:text="*{ageFrom}" min="1" max="15">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-3 ">-->
                    <!--<label class="cell-justified" for="price">Wiek do:</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-1 ">-->
                    <!--<p type="number" name="ageTo" th:text="*{ageTo}" min="1" max="15">-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments::footer"></div>
</body>
</html>

