<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{/css/oldTheme.css}">
</head>
<body>

<div class="container marketing">

    <h3>Lista Produktów</h3>
    <div class="row">
        <div class="row table-header col-md-12">
            <div class="col-md-5 text-center">Nazwa produktu</div>
            <div class="col-md-3">Kategoria produktu</div>
            <div class="col-md-1">Cena (zł)</div>
            <div class="col-md-3">Opcje</div>

        </div><!--iter.index-->
        <div class="row table-row col-md-12" th:each="item,iter  : ${itemList}">
            <div class="col-md-2">
                <img th:width="200" th:height="100" id="image"
                     th:src="${'data:image/png;base64,'+images[iter.index]}" alt=""/>
            </div>
            <div class="col-md-3"><p th:align="center" th:text="${item.getItemName()}"></p></div>
            <div class="col-md-3"><p
                    th:text="${item.getCategoryList().get(0).mainCategory.getNameCategory()} + ' ' + ${item.getCategoryList().get(0).subcategory.getName()}"></p>
            </div>
            <div class="col-md-1"><p th:text="${item.getPrice()}"></p></div>
            <div class="col-md-3 row">
                <div class="col-md-3"><!--usuwanie-->
                    <a th:href="@{'/item/remove/' + ${item.getId()}}">Usuń</a>
                </div>
                <div class="col-md-3"><!--edycja-->
                    <a th:href="@{'/item/edit/' + ${item.getId()}}">Edytuj</a>
                </div>
                <div class="col-md-3"><!--szczegoly-->
                    <a th:href="@{'/item/details/' + ${item.getId()}}" class="btn btn-outline-primary active"
                       role="button" aria-pressed="true">Więcej</a>
                </div>
                <div class="dropdown col-md-3">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Kupuję! <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{'/item//' + ${item.getId()}}">Kupuję</a></li>
                        <li><a th:href="@{'/item//' + ${item.getId()}}">Dodaj do listy życzeń</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments::footer"></footer>

</body>
</html>